body {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #222;
  color: white;
}

canvas {
  background: #555;
  border: 3px solid white;
  width: 100vw;
  max-width: 400px;
  height: 80vh;
  max-height: 600px;
}
